#widhei {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

#widhei p {
    margin: 8px;
}

#widhei input[type=number] {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

input[type=checkbox] {
    -webkit-appearance: initial;
    appearance: initial;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    position: relative;
}
input[type="checkbox"]:checked {
    background: rgb(0, 0, 0);
}
input[type="checkbox"]:checked:after {
    /* Heres your symbol replacement - this is a tick in Unicode. */
    content: none;
    color: #fff;
    /* The following positions my tick in the center, 
     * but you could just overlay the entire box
     * with a full after element with a background if you want to */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

table
{
    border-spacing: 0;
}

td, tr, th
{
    padding: 0;
    margin: 0;
}